#top-bar {
    box-shadow: 1px 1px 1px #3292a6;
    opacity: 0.9;
    background: #fff;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.hoja-shadow {
    box-shadow: 1px 1px 5px 0 #3292a6;
    opacity: 0.9;
    background: #fff;
    border: 1px solid;
    border-color: #2196F3;
    height: 500px;
    overflow-y: scroll;
}

#card-info {
    height: 500px;
    overflow-y: scroll;
}

footer {
    height: auto;
    background: #f0f0f0;
    border-top: #2196F3;
}

.links-display-inline {
    list-style: none;
    padding: 0;
}

.links-display-inline li {
    display: inline-block;
    margin-right: 10px;
}
